@import 'partials/homepage.scss';
@import 'partials/sidebar.scss';


body{
  background-color: white;
  font-family: 'Oxygen', sans-serif;
  cursor:url("../../images/silhouette.png"), auto;
  // cursor:url("../../images/arrow.png"), auto;
}
