.home-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
  width: 100%;
  height: 735px; }

.home-wrapper {
  width: 96%;
  resize: both;
  overflow: auto;
  height: 100%;
  overflow: hidden; }
  .home-wrapper nav {
    display: flex;
    justify-content: space-between;
    margin-left: 4.5%; }
    .home-wrapper nav .logo {
      align-self: center; }
      .home-wrapper nav .logo img {
        height: 49px;
        width: 75px;
        -webkit-animation: drop 2500ms ease-out; }

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateX(5000%); }
  100% {
    -webkit-transform: translateX(0%); } }

.social-container {
  display: flex;
  justify-content: space-around;
  width: 17%;
  margin-bottom: -0.5%;
  align-items: center; }
  .social-container .git {
    cursor: url("../../images/handreg.png"), auto;
    border-radius: 51%;
    height: 25px;
    width: 25px;
    border: 3px solid #94A9AE;
    background-image: url("../../images/social-media.png");
    background-size: 72%;
    background-repeat: no-repeat;
    background-position: 48%; }
    .social-container .git:hover {
      border: 3px solid white;
      background-color: #94A9AE;
      background-image: url("../../images/social-media-white.png");
      background-size: 72%;
      background-repeat: no-repeat;
      background-position: 48%; }
  .social-container .in {
    cursor: url("../../images/handreg.png"), auto;
    border-radius: 51%;
    height: 25px;
    width: 25px;
    border: 3px solid #607D83;
    background-image: url("../../images/social.png");
    background-size: 52%;
    background-repeat: no-repeat;
    background-position: 51%; }
    .social-container .in:hover {
      border: 3px solid white;
      background-color: #607D83;
      background-image: url("../../images/social-white.png");
      background-size: 61%;
      background-repeat: no-repeat;
      background-position: 51%; }
  .social-container .email {
    cursor: url("../../images/handreg.png"), auto;
    border-radius: 51%;
    height: 25px;
    width: 25px;
    border: 3px solid #D87777;
    background-image: url("../../images/black.png");
    background-size: 61%;
    background-repeat: no-repeat;
    background-position: 48%; }
    .social-container .email:hover {
      border: 3px solid white;
      background-color: #D87777;
      background-image: url("../../images/black-white.png");
      background-size: 61%;
      background-repeat: no-repeat;
      background-position: 48%; }

aside {
  height: 82%;
  width: 55px;
  background: #FFF;
  position: absolute;
  display: flex;
  justify-content: center; }
  aside .button {
    position: absolute;
    top: 50%;
    /* left: 174%; */
    /* right: 199px; */
    margin-left: 385px; }
    aside .button p {
      transform: rotate(-90deg);
      font-family: 'Raleway', sans-serif;
      font-size: 21px;
      letter-spacing: 3px;
      font-weight: 100; }

.hero-image {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../../images/church.jpg");
  height: 82%;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  .hero-image .onep {
    color: #fbe380;
    font-size: 93px; }
  .hero-image .twop {
    font-family: 'Pacifico', cursive;
    margin-top: -10%;
    color: #adadad;
    font-size: 35px; }
  .hero-image .threep {
    align-self: flex-end;
    margin-bottom: -13%;
    font-size: 11px;
    margin-top: 142px;
    color: #adadad;
    font-weight: 400; }

h3 {
  color: #AFAFAF;
  font-weight: 100;
  font-family: 'Pacifico', cursive; }

.email-footer {
  display: flex;
  justify-content: center;
  height: 50px; }
  .email-footer img {
    height: 21px;
    align-self: center;
    -webkit-animation: bounce 2200ms ease-out; }

.telephone-footer {
  display: none; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }

label {
  font-weight: normal;
  cursor: url("../../images/arrow.png"), auto; }

.drawer-menu {
  -webkit-transition: all 200ms ease-in;
  box-sizing: border-box;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: perspective(500px) rotateY(-90deg);
  transform: perspective(500px) rotateY(-90deg);
  opacity: 0; }

.check {
  display: none; }

.menu-btn {
  display: flex;
  flex-flow: column; }

.bar {
  width: 23px;
  height: 9px !important;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top; }

.bar.middle {
  top: 15px;
  opacity: 1; }

.bar.bottom {
  top: 30px;
  -webkit-transform-origin: left bottom left;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom; }

.check:checked ~ .menu-btn .menu {
  visibility: hidden;
  opacity: 0; }

.check:checked ~ .menu-btn .bar.top {
  width: 36px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.check:checked ~ .menu-btn .bar.middle {
  opacity: 0; }

.check:checked ~ .menu-btn .bar.bottom {
  width: 36px;
  top: 40px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.sidebar-content {
  -webkit-transition: all 200ms ease-in;
  height: 100%;
  width: 400px;
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-right: 40px solid white; }
  .sidebar-content .bio-image {
    background-image: url("../../images/conanme.jpg");
    background-size: 83%;
    /* border-radius: 100%; */
    height: 482px;
    width: 100%;
    background-repeat: no-repeat;
    /* align-self: initial; */
    background-position-y: 21%;
    align-self: center;
    margin-left: 20%; }
  .sidebar-content p {
    margin-left: 3%;
    color: #FBE380;
    font-size: 18px; }
    .sidebar-content p span {
      font-family: Pacifico;
      color: grey; }

body .center {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  height: 62px;
  margin: auto; }

.scene h1 span, .scene .header span {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  opacity: 0;
  position: relative;
  top: 20px;
  display: inline; }

.about-me {
  background-image: url("../../images/conanme.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: 67%; }
  .about-me:before {
    height: 100%;
    width: 400px;
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    left: 8px;
    background-image: linear-gradient(to right bottom, #fbe380 0%, #00b9a2 65%, #2c9fc4 100%);
    opacity: .9; }

.contact-me {
  background-image: url("../../images/bridge.jpg");
  background-size: 190%;
  background-repeat: no-repeat;
  background-position-x: 37%; }
  .contact-me:before {
    height: 100%;
    width: 400px;
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    left: 8px;
    background-image: linear-gradient(to right bottom, #fbe380 0%, #00b9a2 65%, #2c9fc4 100%);
    opacity: .9; }

.travel-me {
  background-image: url("../../images/church.jpg");
  background-size: 126%;
  background-repeat: no-repeat;
  background-position-x: 37%; }
  .travel-me:before {
    height: 100%;
    width: 400px;
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    left: 8px;
    background-image: linear-gradient(to right bottom, #fbe380 0%, #00b9a2 65%, #2c9fc4 100%);
    opacity: .9; }

.work-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
  width: 100%;
  height: 735px;
  margin-top: -2%; }
  .work-container aside {
    height: 87%; }
    .work-container aside img {
      display: none; }

.work-wrapper {
  width: 96%;
  resize: both;
  overflow: auto;
  height: 94%;
  overflow: hidden; }
  .work-wrapper nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 4%; }
    .work-wrapper nav .logo {
      align-self: center; }
      .work-wrapper nav .logo img {
        height: 49px;
        width: 75px; }

.work-image {
  height: 95%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-flow: row wrap; }
  .work-image .event-detail {
    display: none; }
  .work-image .jeo-detail {
    display: none; }
  .work-image .todo-detail {
    display: none; }
  .work-image .must-detail {
    display: none; }
  .work-image .project-box {
    background-color: white;
    width: 31%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .work-image .maid {
    background-image: linear-gradient(#f0f7ee, #f0f7ee), url("../../images/kom-bottom-left.jpeg");
    background-size: cover;
    width: 33% !important;
    font-size: 36px;
    font-weight: 800;
    color: #8f52df;
    font-family: 'Short Stack', cursive;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; }
    .work-image .maid p {
      margin-left: 12%; }
  .work-image .jeo {
    background-image: linear-gradient(#c4d7f2, #c4d7f2), url("../../images/etsy-top-middle.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%; }
    .work-image .jeo p {
      margin-left: 12%; }
  .work-image .todo {
    background-image: linear-gradient(#afdedc, #afdedc), url("../../images/todo-bottom-right.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 71px;
    font-weight: 800;
    color: #E5D6D6;
    font-family: "Raleway", sans-serif; }
  .work-image .must {
    background-image: linear-gradient(#91a8a4, #91a8a4), url("../../images/must-bottom-middle.jpeg");
    font-family: 'Droid Sans', sans-serif;
    color: red;
    font-size: 50px; }
  .work-image .event {
    width: 33% !important;
    background-image: linear-gradient(#776871, #776871), url("../../images/event-top-left.jpg");
    background-size: cover;
    font-size: 36px;
    font-weight: 800;
    color: #CEFF6D;
    font-family: 'Fjalla One', sans-serif; }
    .work-image .event p {
      margin-left: 11%; }
  .work-image .must-hover {
    opacity: 0.6;
    -webkit-transition: all 200ms ease-in; }
  .work-image .jeo-hover {
    opacity: 0.6;
    -webkit-transition: all 200ms ease-in; }
  .work-image .surf {
    background-image: linear-gradient(#003559, #003559), url("../../images/surf-top-right.jpeg");
    background-size: cover;
    position: relative;
    font-size: 36px;
    font-weight: 800;
    color: #FF9600;
    font-family: 'Rock Salt', cursive;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center; }
  .work-image .todo-hover {
    -webkit-transition: all 200ms ease-in;
    opacity: 0.6; }
  .work-image .surf-hover {
    -webkit-transition: all 200ms ease-in;
    opacity: 0.6; }
  .work-image .event-surf-hover {
    background-image: url("../../images/left-top.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .event-surf-hover p {
      display: none; }
    .work-image .event-surf-hover img {
      display: none; }
  .work-image .maid-surf-hover {
    background-image: url("../../images/left-bottom.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .maid-surf-hover p {
      display: none; }
  .work-image .must-surf-hover {
    background-image: url("../../images/bottom-middle.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .must-surf-hover p {
      display: none; }
  .work-image .jeo-surf-hover {
    background-image: url("../../images/top-middle.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .jeo-surf-hover p {
      display: none; }
  .work-image .todo-surf-hover {
    background-image: url("../../images/bottom-right.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .todo-surf-hover p {
      display: none; }
  .work-image .surf-event-hover {
    background-image: url("../../images/event-top-right.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .surf-event-hover p {
      display: none; }
    .work-image .surf-event-hover img {
      display: none; }
  .work-image .maid-event-hover {
    background-image: url("../../images/event-bottom-right.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .maid-event-hover p {
      display: none; }
  .work-image .must-event-hover {
    background-image: url("../../images/event-bottom-middle.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .must-event-hover p {
      display: none; }
  .work-image .jeo-event-hover {
    background-image: url("../../images/event-top-middle.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .jeo-event-hover p {
      display: none; }
  .work-image .todo-event-hover {
    background-image: url("../../images/event-bottom-right.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .todo-event-hover p {
      display: none; }
  .work-image .surf-maid-hover {
    background-image: url("../../images/maid-top-right.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .surf-maid-hover p {
      display: none; }
    .work-image .surf-maid-hover img {
      display: none; }
  .work-image .event-maid-hover {
    background-image: url("../../images/maid-top-left.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .event-maid-hover p {
      display: none; }
  .work-image .must-maid-hover {
    background-image: url("../../images/maid-bottom-middle.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .must-maid-hover p {
      display: none; }
  .work-image .jeo-maid-hover {
    background-image: url("../../images/maid-top-middle.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .jeo-maid-hover p {
      display: none; }
  .work-image .todo-maid-hover {
    background-image: url("../../images/maid-bottom-right.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .todo-maid-hover p {
      display: none; }
  .work-image .surf-must-hover {
    background-image: url("../../images/must-top-right.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .surf-must-hover p {
      display: none; }
    .work-image .surf-must-hover img {
      display: none; }
  .work-image .event-must-hover {
    background-image: url("../../images/must-top-left.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .event-must-hover p {
      display: none; }
  .work-image .todo-must-hover {
    background-image: url("../../images/must-bottom-right.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .todo-must-hover p {
      display: none; }
  .work-image .jeo-must-hover {
    background-image: url("../../images/must-top-middle.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .jeo-must-hover p {
      display: none; }
  .work-image .maid-must-hover {
    background-image: url("../../images/must-bottom-left.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .maid-must-hover p {
      display: none; }
  .work-image .surf-todo-hover {
    background-image: url("../../images/todo-top-right.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .surf-todo-hover p {
      display: none; }
    .work-image .surf-todo-hover img {
      display: none; }
  .work-image .event-todo-hover {
    background-image: url("../../images/todo-top-left.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .event-todo-hover p {
      display: none; }
  .work-image .must-todo-hover {
    background-image: url("../../images/todo-bottom-middle.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .must-todo-hover p {
      display: none; }
  .work-image .jeo-todo-hover {
    background-image: url("../../images/todo-top-middle.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .jeo-todo-hover p {
      display: none; }
  .work-image .maid-todo-hover {
    background-image: url("../../images/todo-bottom-left.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .maid-todo-hover p {
      display: none; }
  .work-image .surf-jeo-hover {
    background-image: url("../../images/etsy-top-right.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .surf-jeo-hover p {
      display: none; }
    .work-image .surf-jeo-hover img {
      display: none; }
  .work-image .event-jeo-hover {
    background-image: url("../../images/etsy-top-left.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .event-jeo-hover p {
      display: none; }
  .work-image .must-jeo-hover {
    background-image: url("../../images/etsy-bottom-middle.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .must-jeo-hover p {
      display: none; }
  .work-image .todo-jeo-hover {
    background-image: url("../../images/etsy-bottom-right.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .todo-jeo-hover p {
      display: none; }
  .work-image .maid-jeo-hover {
    background-image: url("../../images/etsy-bottom-left.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover; }
    .work-image .maid-jeo-hover p {
      display: none; }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .home-wrapper {
    height: 100%; }
  nav {
    display: flex;
    justify-content: center !important;
    align-items: center; }
    nav .logo {
      display: none; }
    nav .social-container {
      display: none; }
  aside {
    width: 1px; }
    aside .button {
      display: none; }
  .hero-image {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../../images/church.jpg");
    height: 65%;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    .hero-image .onep {
      margin-left: 13%;
      margin-bottom: -2%; }
    .hero-image .twop {
      font-family: 'Pacifico', cursive;
      margin-top: 28%;
      color: #adadad;
      font-size: 35px;
      margin-bottom: -6 5px;
      /* margin-left: 25%; */
      margin-right: -3%; }
    .hero-image .threep {
      align-self: flex-end;
      margin-bottom: 8%;
      font-size: 11px;
      margin-top: 142px;
      color: #adadad;
      font-weight: 400; }
  .work-image {
    display: flex;
    flex-flow: column; }
  .fp-section {
    margin-bottom: 6.5%; }
  .footer {
    display: flex;
    flex-flow: row;
    justify-content: space-around; }
    .footer .telephone-footer {
      display: flex; } }

.surf-page .work-image {
  background-color: yellow; }
  .surf-page .work-image .project-box {
    display: none; }

.surf-page aside {
  height: 87%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .surf-page aside img {
    display: inline-flex !important;
    height: 40px;
    width: 40px; }

.event-page .work-image {
  background-image: linear-gradient(rgba(11, 6, 100, 0.7), rgba(11, 6, 6, 0.7)), url("../../images/churchview.jpg");
  background-size: cover; }
  .event-page .work-image .project-box {
    display: none; }

.event-page .event-detail {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Raleway;
  color: white; }
  .event-page .event-detail h1 {
    font-size: 95px; }
  .event-page .event-detail p {
    font-family: Pacifico; }
  .event-page .event-detail .check-it-out {
    display: flex;
    width: 79%;
    justify-content: space-between;
    text-decoration: none;
    color: white; }
    .event-page .event-detail .check-it-out a {
      text-decoration: none;
      color: white;
      width: 16%;
      display: flex;
      justify-content: space-around;
      border: 1px solid white;
      font-family: Raleway; }
      .event-page .event-detail .check-it-out a p {
        font-family: Raleway; }
      .event-page .event-detail .check-it-out a img {
        align-self: center;
        height: 46px;
        width: 39px; }

.event-page aside {
  height: 87%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .event-page aside img {
    display: inline-flex !important;
    height: 40px;
    width: 40px; }

.todo-page .work-image {
  background-image: linear-gradient(rgba(11, 6, 100, 0.7), rgba(11, 6, 6, 0.7)), url("../../images/tennis.jpg");
  background-size: cover; }
  .todo-page .work-image .project-box {
    display: none; }

.todo-page .todo-detail {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Raleway;
  color: white; }
  .todo-page .todo-detail h1 {
    font-size: 95px; }
  .todo-page .todo-detail p {
    font-family: Pacifico; }
  .todo-page .todo-detail .check-it-out {
    display: flex;
    width: 79%;
    justify-content: space-between;
    text-decoration: none;
    color: white; }
    .todo-page .todo-detail .check-it-out a {
      text-decoration: none;
      color: white;
      width: 16%;
      display: flex;
      justify-content: space-around;
      border: 1px solid white;
      font-family: Raleway; }
      .todo-page .todo-detail .check-it-out a p {
        font-family: Raleway; }
      .todo-page .todo-detail .check-it-out a img {
        align-self: center;
        height: 46px;
        width: 39px; }

.todo-page aside {
  height: 87%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .todo-page aside img {
    display: inline-flex !important;
    height: 40px;
    width: 40px; }

.must-page .work-image {
  background-image: linear-gradient(rgba(11, 6, 100, 0.7), rgba(11, 6, 6, 0.7)), url("../../images/miami.jpg");
  background-size: cover; }
  .must-page .work-image .project-box {
    display: none; }

.must-page .must-detail {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Raleway;
  color: white; }
  .must-page .must-detail h1 {
    font-size: 95px; }
  .must-page .must-detail p {
    font-family: Pacifico; }
  .must-page .must-detail .check-it-out {
    display: flex;
    width: 79%;
    justify-content: space-between;
    text-decoration: none;
    color: white; }
    .must-page .must-detail .check-it-out a {
      text-decoration: none;
      color: white;
      width: 16%;
      display: flex;
      justify-content: space-around;
      border: 1px solid white;
      font-family: Raleway; }
      .must-page .must-detail .check-it-out a p {
        font-family: Raleway; }
      .must-page .must-detail .check-it-out a img {
        align-self: center;
        height: 46px;
        width: 39px; }

.must-page aside {
  height: 87%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .must-page aside img {
    display: inline-flex !important;
    height: 40px;
    width: 40px; }

.jeo-page .work-image {
  background-image: linear-gradient(rgba(11, 6, 100, 0.7), rgba(11, 6, 6, 0.7)), url("../../images/bird.jpg");
  background-size: cover; }
  .jeo-page .work-image .project-box {
    display: none; }

.jeo-page .jeo-detail {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Raleway;
  color: white; }
  .jeo-page .jeo-detail h1 {
    font-size: 95px; }
  .jeo-page .jeo-detail p {
    font-family: Pacifico; }
  .jeo-page .jeo-detail .check-it-out {
    display: flex;
    width: 79%;
    justify-content: space-between;
    text-decoration: none;
    color: white; }
    .jeo-page .jeo-detail .check-it-out a {
      text-decoration: none;
      color: white;
      width: 16%;
      display: flex;
      justify-content: space-around;
      border: 1px solid white;
      font-family: Raleway; }
      .jeo-page .jeo-detail .check-it-out a p {
        font-family: Raleway; }
      .jeo-page .jeo-detail .check-it-out a img {
        align-self: center;
        height: 46px;
        width: 39px; }

.jeo-page aside {
  height: 87%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .jeo-page aside img {
    display: inline-flex !important;
    height: 40px;
    width: 40px; }

body {
  background-color: white;
  font-family: 'Oxygen', sans-serif;
  cursor: url("../../images/arrow.png"), auto; }
