@import 'partials/homepage.scss';
@import 'partials/sidebar.scss';
@import 'partials/aboutpage.scss';
@import 'partials/workpage.scss';
@import 'partials/mobile.scss';
@import 'partials/surfpage.scss';
@import 'partials/eventpage.scss';
@import 'partials/todopage.scss';
@import 'partials/mustpage.scss';
@import 'partials/jeopage.scss';


body{
  background-color: white;
  font-family: 'Oxygen', sans-serif;
  // cursor:url("../../images/silhouette.png"), auto;
  cursor:url("../../images/arrow.png"), auto;
}
