<div id="full-page" full-page>

    <div class="section home-container" id="section1">
      <div class="home-wrapper">
        <nav>

          <div class="logo">
            WW
          </div>
          <h3>home</h3>
          <div class="social-container">
            <a href="https://github.com/WeesieWilson">
            <div class="social-icons git"></div></a> <a href="mailto:louisebrookswilson@gmail.com">
            <div class="social-icons email"></div></a> <a href="https://www.linkedin.com/">
            <div class="social-icons in"></div></a>
          </div>
        </nav>
        <aside>

          <div class="sliding">
            <div class="sidebar-content" id="menu">
              <a class="about" href="javascript:;" data-scroll="#section2" >ABOUT</a>

              <!-- <a href="" ng-click="scrollTo('section2')">ABOUT</a>
              <a href="" ng-click="scrollTo('section3')">WORK</a>
              <a href="" ng-click="scrollTo('section4')">CONTACT</a> -->
              <!-- <h5 class="about" data-menuanchor="first">ABOUT</h5>
              <h5 href="#element" id="top">WORK</h5>
               <h5 class="travel" href="#element" id="top">TRAVELS</h5>
               <h5 class="contact" href="#element" id="top">CONTACT</h5> -->
               <img alt="" src="../../images/mark.png">

             </div>
             <div>     <div class="button">
                    <input class="check" id="checked" type="checkbox">
                     <label class="menu-btn" for="checked">

                      <img alt="" class="bar top" src="../../images/line.png"> <img alt="" class="bar middle" src=
                    "../../images/line.png"> <img alt="" class="bar bottom" src="../../images/line.png">
                  </label>
                  </div></div>

          </div>
        </aside>
        <div class="hero-image" id="hero-image"><p class="onep">weesie wilson.</p><p class="twop">front end developer</p>
        </div>

          <a href="mailto:louisebrookswilson@gmail.com">
            <div class="email-footer">
              <img src="../../images/mail.png" alt="">
            </div>
          </a>

      </div>

  </div>
    <div class="section about-container" id="pageTop">
      <div class="about-wrapper" id="section2">
        <nav>
          <div class="logo">
            WeesieWilson
          </div>
          <h3>about</h3>
          <div class="social-container">
            <a href="https://github.com/WeesieWilson">
            <div class="social-icons git"></div></a> <a href="mailto:louisebrookswilson@gmail.com">
            <div class="social-icons email"></div></a> <a href="https://www.linkedin.com/">
            <div class="social-icons in"></div></a>
          </div>
        </nav>
        <aside></aside>
        <div class="about-image" id="about-image"></div>
      </div>
    </div>
    <div class=" section work-container" id="section3">
      <div class="work-wrapper">
        <nav>
          <div class="logo">
            WeesieWilson
          </div>
          <h3>work</h3>
          <div class="social-container">
            <a href="https://github.com/WeesieWilson">
            <div class="social-icons git"></div></a> <a href="mailto:louisebrookswilson@gmail.com">
            <div class="social-icons email"></div></a> <a href="https://www.linkedin.com/">
            <div class="social-icons in"></div></a>
          </div>
        </nav>
        <aside></aside>
        <div class="about-image" id="work-image"></div>
      </div>
    </div>
    <div class=" section contact-container" id="section4" ></div>

  </div>
