<div class="wrap">
<div class="home-container">
  <div class="home-wrapper">
<nav>
  <div class="logo">WeesieWilson</div>
  <div class="social-container">
    <a href="https://github.com/WeesieWilson"><div class="social-icons git"></div></a>
    <a href="mailto:louisebrookswilson@gmail.com"><div class="social-icons email"></div></a>
    <a href="https://www.linkedin.com/"><div class="social-icons in"></div></a>
  </div>
</nav>
<aside>
  <div class="button"><input type="checkbox" class="check" id="checked">
          <label class="menu-btn" for="checked">
            <img class="bar top" src="../../images/line.png" alt="">
            <img class="bar middle" src="../../images/line.png" alt="">
            <img class="bar bottom" src="../../images/line.png" alt="">
          </label>
        </div>
      <div class="slide">
        <div class="sidebar-content">
          <a id="top" class="about" href="#element">ABOUT</a>
          <a id="top" href="#element">WORK</a>
          <a id="top" href="#element">TRAVELS</a>
          <img src="../../images/mark.png" alt="">
          <!-- <p>WORK</p>
          <p>CONTACT</p> -->


        </div>
        <!-- <img src="../../images/mark.png" alt=""> -->
      </div>

  </aside>

<div id="hero-image" class="hero-image"></div>
</div>
</div>
</div>


















     <br>
      <br>
       <br>
        <br>
         <br>
          <br>
           <br>
            <br>

            <br>
             <br>
              <br>
               <br>
                <br>
                 <br>
                  <br>
                   <br>


                   <br>
                    <br>
                     <br>
                      <br>
                       <br>
                        <br>
                         <br>
                          <br>
                          <br>
                           <br>
                            <br>
                             <br>
                              <br>
                               <br>
                                <br>
                                 <br>





     <a id="element" href="#top">About Section</a>
