<div class="wrap">
<div class="home-container">
<div class="home-wrapper">
<nav>
  <div class="logo">WeesieWilson</div>
  <h3>home</h3>
  <div class="social-container">
    <a href="https://github.com/WeesieWilson"><div class="social-icons git"></div></a>
    <a href="mailto:louisebrookswilson@gmail.com"><div class="social-icons email"></div></a>
    <a href="https://www.linkedin.com/"><div class="social-icons in"></div></a>
  </div>
</nav>

<aside>
  <div class="button"><input type="checkbox" class="check" id="checked">
          <label class="menu-btn" for="checked">
            <img class="bar top" src="../../images/line.png" alt="">
            <img class="bar middle" src="../../images/line.png" alt="">
            <img class="bar bottom" src="../../images/line.png" alt="">
          </label>
        </div>
      <div class="slide">
        <div class="sidebar-content">
          <a id="top" class="about" href="#element">ABOUT</a>
          <a id="top" href="#element">WORK</a>
          <a id="top" class="travel" href="#element">TRAVELS</a>
          <a id="top" class="contact" href="#element">CONTACT</a>
          <img src="../../images/mark.png" alt="">
        </div>
      </div>
  </aside>
<div id="hero-image" class="hero-image"></div>
</div>
</div>
</div>






<div class="about-container">
  <div class="about-wrapper">
  <nav>
    <div class="logo">WeesieWilson</div>
    <h3>about</h3>
    <div class="social-container">
      <a href="https://github.com/WeesieWilson"><div class="social-icons git"></div></a>
      <a href="mailto:louisebrookswilson@gmail.com"><div class="social-icons email"></div></a>
      <a href="https://www.linkedin.com/"><div class="social-icons in"></div></a>
    </div>
  </nav>

  <aside>
    <!-- <div class="button"><input type="checkbox" class="check" id="checked">
            <label class="menu-btn" for="checked">
              <img class="bar top" src="../../images/line.png" alt="">
              <img class="bar middle" src="../../images/line.png" alt="">
              <img class="bar bottom" src="../../images/line.png" alt="">
            </label>
          </div> -->
        <!-- <div class="slide">
          <div class="sidebar-content">
            <a id="top" class="about" href="#element">ABOUT</a>
            <a id="top" href="#element">WORK</a>
            <a id="top" href="#element">TRAVELS</a>
            <a id="top" class="contact" href="#element">CONTACT</a>
            <img src="../../images/mark.png" alt="">
          </div>
        </div> -->
    </aside>
  <div id="about-image" class="about-image"></div>
  </div>
</div>
<div class="work-container"></div>
<div class="contact-container"></div>
