#full-page{
      // margin-top: -4%;
}

.home-container{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
  width: 100%;
  height: 735px;
}
.home-wrapper{
      width: 96%;
      resize: both;
      overflow: auto;
      height: 100%;
      overflow: hidden;
  nav{
      display: flex;
      justify-content: space-between;
      margin-left: 4.5%;
      .logo{
          align-self: center;
          img{
            height: 49px;
width: 75px;
          }
        }
    }
}

.social-container{
  display: flex;
  justify-content: space-around;
  width: 17%;
  margin-bottom: -0.5%;
  align-items: center;
  .git{
    cursor:url("../../images/handreg.png"), auto;
    border-radius: 51%;
    height: 25px;
    width: 25px;
    border: 3px solid #94A9AE;
    background-image: url("../../images/social-media.png");
    background-size: 72%;
    background-repeat: no-repeat;
    background-position: 48%;
    &:hover{
      border: 3px solid white;
      background-color: #94A9AE;
      background-image: url("../../images/social-media-white.png");
      background-size: 72%;
      background-repeat: no-repeat;
      background-position: 48%;
    }
  }
  .in{
    cursor:url("../../images/handreg.png"), auto;
    border-radius: 51%;
    height: 25px;
    width: 25px;
    border: 3px solid #607D83;
    background-image: url("../../images/social.png");
    background-size: 52%;
    background-repeat: no-repeat;
    background-position: 51%;
    &:hover{
      border: 3px solid white;
      background-color: #607D83;
      background-image: url("../../images/social-white.png");
      background-size: 61%;
      background-repeat: no-repeat;
      background-position: 51%;
  }
}
  .email{
    cursor:url("../../images/handreg.png"), auto;
    border-radius: 51%;
    height: 25px;
    width: 25px;
    border: 3px solid #D87777;
    background-image: url("../../images/black.png");
    background-size: 61%;
    background-repeat: no-repeat;
    background-position: 48%;
    &:hover{
      border: 3px solid white;
      background-color: #D87777;
      background-image: url("../../images/black-white.png");
      background-size: 61%;
      background-repeat: no-repeat;
      background-position: 48%;
  }
  }
}
aside{
    height: 82%;
    width: 55px;
    background: #FFF;
    position: absolute;
    display: flex;
    justify-content: center;
  .button{
    position: absolute;
  top: 50%;
  /* left: 174%; */
  /* right: 199px; */
  margin-left: 385px;
  p{
    transform: rotate(-90deg);
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
letter-spacing: 3px;
font-weight: 100;
  }
  }
}
.hero-image{
   background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url('../../images/church.jpg');
  height: 82%;
  width: 100%;
  background-size: cover;
  display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
.onep{
  color: #fbe380;
  font-size: 93px;
}
.twop{
  font-family: 'Pacifico', cursive;
    margin-top: -10%;
    color: #adadad;
    font-size: 35px;
}
.threep{
  align-self: flex-end;
  margin-bottom: -13%;
  font-size: 11px;
  margin-top: 142px;
  color: #adadad;
  font-weight: 400;
}

}
h3{
  color: #AFAFAF;
  font-weight: 100;
  font-family: 'Pacifico', cursive;
}

.email-footer{
  display: flex;
justify-content: center;
height: 50px;
  img{
    height: 21px;
align-self: center;
-webkit-animation: bounce 2200ms ease-out;
  }
}

.telephone-footer{
  display: none;
}

@-webkit-keyframes bounce{
	0%, 20%, 50%, 80%, 100% {
    -webkit-transform:translateY(0);
  }
	40% {
    -webkit-transform:translateY(-30px);
  }
	60% {
  -webkit-transform:translateY(-15px);
  }
}
