@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .home-wrapper{
      height: 100%;
    }
    nav{
      display: flex;
      justify-content: center !important;
      align-items: center;
      .logo{
        display: none;
      }
      .social-container{
        display: none;
      }
    }

    aside{
      width: 1px;
      .button{
        display: none;
      }
    }

    .hero-image{
      background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../../images/church.jpg");
height: 65%;
width: 100%;
background-size: cover;
display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
  .onep{
    margin-left: 13%;
margin-bottom: -2%;
  }
  .twop{
    font-family: 'Pacifico', cursive;
margin-top: 28%;
color: #adadad;
font-size: 35px;
 margin-bottom: -65px; 
/* margin-left: 25%; */
margin-right: -3%;
  }
  .threep{
    align-self: flex-end;
    margin-bottom: 8%;
    font-size: 11px;
    margin-top: 142px;
    color: #adadad;
    font-weight: 400;
  }
    }

    .work-image{
      display: flex;
      flex-flow: column;
    }

    .fp-section{
      margin-bottom: 6.5%;
    }
.footer{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
    .telephone-footer{
      display: flex;
    }
  }

}
