.surf-page{
.work-image{
  background-color: yellow;
  .project-box{
    display: none;
  }
}
  aside{

        height: 87%;
        display: flex;
        justify-content: center;
align-items: center;
        img{
          display: inline-flex !important;
          height: 40px;
          width: 40px;

        }
  }
}
