.todo-page{
.work-image{
  background-image: linear-gradient(rgba(175, 222, 220, 0.8), rgba(175, 222, 220, 0.8)), url("../../images/tennis.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  // background-position-x: 42%;
  .project-box{
    display: none;
  }
}
.todo-detail{
  width: 89%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
justify-content: center;
align-items: center;
width: 100%;
font-family: Raleway;
color: #E8B8B8;
h1{
      font-size: 95px;
      margin-left: 5%;
margin-top: 6%;
}
p{
width: 50%;
  font-size: 17px;
text-align: center;

  letter-spacing: 0px;
  font-family: Raleway;
  font-family: Oxygen;
}
.check-it-out{
      margin-left: 6%;
      margin-top: 12%;
  display: flex;
width: 79%;
justify-content: space-between;
text-decoration: none;
// color: white;

a{
  text-decoration: none;
  color: white;
  width: 16%;
  display: flex;
  justify-content: space-around;
  border: 2px solid white;
  font-family: Raleway;
  border-radius: 4%;
  p{
    font-family: Raleway;
  }
  img{
    align-self: center;
    height: 46px;
width: 39px;
  }
}
}
}
  aside{

        height: 87%;
        display: flex;
        justify-content: center;
align-items: center;
        p{
          display: inline-flex !important;

          transform: rotate(-90deg);
          font-family: 'Raleway', sans-serif;
          font-size: 21px;
      letter-spacing: 3px;
      font-weight: 100;

        }
  }
}
