.work-container{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
  width: 100%;
  height: 735px;
  margin-top: -2%;
  aside{
        height: 87%;
        p{
          display: none;
        }
  }
}
.work-wrapper{
  width: 96%;
resize: both;
overflow: auto;
height: 94%;
overflow: hidden;
  nav{
      display: flex;
      justify-content: space-between;
      margin-top: 1%;
          margin-left: 4%;
          .logo{
              align-self: center;
              img{
                height: 49px;
    width: 75px;
              }
            }
    }
    .email-footer{
      display: flex;
    justify-content: center;
    height: 50px;
      img{
        height: 21px;
    align-self: center;
    // -webkit-animation: bounce 2200ms ease-out;
      }
    }
}

.work-image{
  height: 95%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-flow: row wrap;
  .event-detail{
    display: none;
  }
  .jeo-detail{
    display: none;
  }
  .maid-detail{
    display: none;
  }
  .todo-detail{
    display: none;
  }
  .must-detail{
    display: none;
  }
  .surf-detail{
    display: none;
  }
  .project-box{
    background-color: white;
    width: 31%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;

  }
  .maid{
background-image: linear-gradient(rgba(240, 247, 238,1),rgba(240, 247, 238,1)), url("../../images/kom-bottom-left.jpeg");
background-size: cover;
width: 34% !important;
font-family: 'Fjalla One', sans-serif;
font-size: 36px;
font-weight: 800;
color: #6C2B9C;
      p{
      margin-left: 12%;
    }
  }

  .jeo{
    background-image: linear-gradient(rgba(196, 215, 242,1),rgba(196, 215, 242,1)),url("../../images/etsy-top-middle.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: #2B3031;
  }



  .todo{
    background-image: linear-gradient(rgba(175, 222, 220,1),rgba(175, 222, 220,1)), url("../../images/todo-bottom-right.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #E8B8B8;
    font-family: 'Fjalla One', sans-serif;
    font-size: 36px;
    font-weight: 800;
  }

  .must{
    background-image: linear-gradient(rgba(145, 168, 164,1),rgba(145, 168, 164,1)), url("../../images/must-bottom-middle.jpeg");
    font-family: 'Fjalla One', sans-serif;
    color: #D03F3F;
    font-size: 50px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 36px;
    font-weight: 800;
  }
  .event{
    width: 34% !important;
    background-image: linear-gradient(rgba(119, 104, 113,1),rgba(119, 104, 113,1)), url("../../images/event-top-left.jpg");
    background-size: cover;
    font-size: 36px;
    font-weight: 800;
    color: #CEFF6D;
    font-family: 'Fjalla One', sans-serif;
        p{
        margin-left: 11%;
        }
  }

  .must-hover{
    opacity: 0.6;
    -webkit-transition: all 200ms ease-in;


  }
  .jeo-hover{
    opacity: 0.6;
    -webkit-transition: all 200ms ease-in;


  }
  .surf{
    font-family: 'Fjalla One', sans-serif;
    background-image: linear-gradient(rgba(0, 53, 89,1),rgba(0, 53, 89,1)), url("../../images/surf-top-right.jpeg");
    background-size: cover;
    font-size: 36px;
    font-weight: 800;
    color: #FF9600;
  }


  .todo-hover{

    -webkit-transition: all 200ms ease-in;

opacity: 0.6;

  }


    .surf-hover{

      -webkit-transition: all 200ms ease-in;

  opacity: 0.6;

    }



.event-surf-hover{
  // background-image: url("../../images/surfboard.png");
  background-image: url("../../images/left-top.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }
  img{
    display: none;
  }

}
.maid-surf-hover{
  background-image: url("../../images/left-bottom.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.must-surf-hover{
  background-image: url("../../images/bottom-middle.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.jeo-surf-hover{
  background-image: url("../../images/top-middle.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.todo-surf-hover{
  background-image: url("../../images/bottom-right.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.surf-event-hover{
  // background-image: url("../../images/surfboard.png");
  background-image: url("../../images/event-top-right.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }
  img{
    display: none;
  }

}
.maid-event-hover{
  background-image: url("../../images/event-bottom-right.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.must-event-hover{
  background-image: url("../../images/event-bottom-middle.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.jeo-event-hover{
  background-image: url("../../images/event-top-middle.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.todo-event-hover{
  background-image: url("../../images/event-bottom-right.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}







.surf-maid-hover{
  // background-image: url("../../images/surfboard.png");
  background-image: url("../../images/maid-top-right.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }
  img{
    display: none;
  }

}
.event-maid-hover{
  background-image: url("../../images/maid-top-left.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.must-maid-hover{
  background-image: url("../../images/maid-bottom-middle.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.jeo-maid-hover{
  background-image: url("../../images/maid-top-middle.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.todo-maid-hover{
  background-image: url("../../images/maid-bottom-right.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}




.surf-must-hover{
  // background-image: url("../../images/surfboard.png");
  background-image: url("../../images/must-top-right.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }
  img{
    display: none;
  }

}
.event-must-hover{
  background-image: url("../../images/must-top-left.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.todo-must-hover{
  background-image: url("../../images/must-bottom-right.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.jeo-must-hover{
  background-image: url("../../images/must-top-middle.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.maid-must-hover{
  background-image: url("../../images/must-bottom-left.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}

















.surf-todo-hover{
  // background-image: url("../../images/surfboard.png");
  background-image: url("../../images/todo-top-right.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }
  img{
    display: none;
  }

}
.event-todo-hover{
  background-image: url("../../images/todo-top-left.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.must-todo-hover{
  background-image: url("../../images/todo-bottom-middle.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.jeo-todo-hover{
  background-image: url("../../images/todo-top-middle.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.maid-todo-hover{
  background-image: url("../../images/todo-bottom-left.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}








.surf-jeo-hover{
  // background-image: url("../../images/surfboard.png");
  background-image: url("../../images/etsy-top-right.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }
  img{
    display: none;
  }

}
.event-jeo-hover{
  background-image: url("../../images/etsy-top-left.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.must-jeo-hover{
  background-image: url("../../images/etsy-bottom-middle.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.todo-jeo-hover{
  background-image: url("../../images/etsy-bottom-right.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
.maid-jeo-hover{
  background-image: url("../../images/etsy-bottom-left.jpeg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  p{
    display: none;
  }

}
}
