.work-container{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
  width: 100%;
  height: 735px;
}
.work-wrapper{
      width: 93%;
      resize: both;
      overflow: auto;
      height: 88%;
      overflow: hidden;
  nav{
      display: flex;
      justify-content: space-between;
      margin-top: 1%;
      .logo{
          align-self: center;
        }
    }
}

.work-image{
  background-color: #fbe380;
  height: 95%;
  width: 100%;
  background-size: cover;
  &:before {
    height: 78.5%;
    width: 952px;
    content: '';
    position: absolute;
    background-image: url("../../images/texture.png");
    opacity: .9;
    }
}
